{% extends 'base.html.twig' %}
{% block title 'Profile' %}
{% block body %}
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center border border-dashed">
            <h1>Profile</h1>
            <img style="max-width: 250px; border-radius: 50%;" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
            <p>{{ app.user.email }}</p>
            <h2>{{ app.user.firstname ~" "~ app.user.lastname }}</h2>
            <p>Compte créé le {{ app.user.createdAt|date }}</p>
            <div class="row">
                {% for video in app.user.videos %}
                <article class="card shadow-sm col-12 col-sm-6 col-md-4 color" style="background-color: #c3bef0; margin-top: 20px;">
                    <h3>
                        <a href="{{ path('app_video_show', {'id': video.id}) }}">{{ video.title|u.truncate(20,'...',false) }}</a>
                    </h3>
                    <iframe width="300" height="200" src="{{ video.videoLink }}"></iframe>
                    <p>{{ video.description|u.truncate(25,'...',false) }}</p>
                    <p>Soumis à {{ video.createdAt ? video.createdAt|ago }}</p>
                    {% if video.premiumVideo %}
                    <div class="premium-icon">
                        &#9733;
                    </div>
                    {% endif %}
                </article>
				
                {% else %}
                <p>
                    Désolé, pas encore de vidéos
                </p>
                {% endfor %}
            </div>
            <p>
                <a href="{{ path('app_account_edit') }}" class="btn btn-primary">Modifier le compte</a>
            </p>
            <p>
                <a href="{{ path('app_home') }}" class="btn btn-primary">Retour</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
