{% extends 'base.html.twig' %}

{% block title %}Vidéo
{% endblock %}

{% block body %}
<br>
<br>
	<div class="row">
    <div class=" col-md-10 mx-auto   border border-dashed " style="background-color:#c3bef0">
			{# <h1>Vidéo</h1> #}

			{% if video.premiumVideo %}
				<div class="premium-icon">
					&#9733;
				
				</div>
			{% endif %}
<br>
<br>
			<h1 class="text-center">{{ video.title }}</h1>
		<br>
		<br>
		<div style="display: flex; justify-content: center;">
			<iframe width="640" height="480" src="{{ video.videoLink }}"></iframe>
			</div>
			<p><strong>Description :</strong></p>
			<p>{{ video.description }}</p>
			<p><strong>Date de publication:</strong></p>
			<p>{{ video.createdAt ? video.createdAt|date('d-m-Y ') : '' }}</p>

	

		<p>
			<a href="{{ path('app_home') }}" class="btn btn-primary ">Retour </a>
		</p>
		{% if app.user %}
			{% if app.user.firstname is same as (video.user.firstname) %}
				<p>
					<a href="{{ path('app_video_edit', {'id': video.id}) }}" class="btn btn-primary ">Editer</a>
				</p>
				{{ include('video/_delete_form.html.twig') }}

			{% endif %}
		{% endif %}
	</div>
</div>{% endblock %}
